<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TimesheetDB"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TimesheetDB.mdf;Integrated Security=True;Connect Timeout=30"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="ManagerEmail" value="manager@wefengineering.com" />
		<add key="SmtpHost" value="smtp.example.com" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpEmail" value="noreply@wefengineering.com" />
		<add key="SmtpPassword" value="example_password" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
